* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --topgrey: #35393C;
    --bg: #42858C;
    --inputbtn: #63CCCA;
}

.all {
    background-color: var(--bg);
}

.bg_top {
    background-color: var(--topgrey);
}

.title {
    text-align: center;
    font-weight: 600;
    color: white;
}

.input_btn {
    padding: 0.5rem;
    border: 3px solid var(--inputbtn);
    border-radius: 1rem;
}
